# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run test
      run: ./gradlew test
    - uses: actions/upload-artifact@v2
      with:
        name: Package
        path: build/libs
    - name: Run Test Coverage
      run: ./gradlew jacocoTestReport
    - name: Generate JaCoCo Badge
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-coverage-badge: true
        generate-branches-badge: true
        jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
        on-missing-report: fail
    - name: Log coverage percentage
      run: |
        echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
        echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"
        ls -lah .github/badges
#     - name: Upload JaCoCo coverage report
#       uses: actions/upload-artifact@v2
#       with:
#         name: jacoco-report
#         path: build/reports/jacoco/test/jacocoTestReport.csv
#     - name: Upload JaCoCo coverage badge
#       uses: actions/upload-artifact@v2
#       with:
#         name: jacoco.svg
#         path: .github/badges/jacoco.svg
#     - name: Upload JaCoCo branches badge
#       uses: actions/upload-artifact@v2
#       with:
#         name: branches.svg
#         path: .github/badges/branches.svg
    - name: Commit and push the badge (if it changed)
      uses: EndBug/add-and-commit@v7
      with:
        default_author: github_actions
        message: 'commit badge'
        add: '.github/badges/*.svg'
